:root {
  --brightness: 100%;
  --contrast: 100%;
  --saturate: 100%;
  --grayscale: 0%;
  --sepia: 0%;
  --hue-rotate: 0deg;
  --invert: 0%;
  --blur: 0px;
  --opacity: 100%;
  --scaleXY: 1;
  --scaleX: 1;
  --scaleY: 1;
  --translateX: 0px;
  --translateY: 0px;
  --skewX: 0deg;
  --skewY: 0deg;
  --rotate: 0deg;
  --textX: 0;
  --textY: 0;
  --textColor: #FFFFFF;
  --textSize: 40px;
  --textShadowX: 0px;
  --textShadowY: 0px;
  --textShadowColor: #000000;
  --textShadowBlur: 0px;
  --textFont: 'Roboto';
  --textFontWeight: 400;
  --letterSpacing: 0px; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #1b1c2f; }

html {
  scroll-behavior: smooth; }

header {
  margin: 20px; }

main {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

#title {
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 10px; }

#image-url {
  width: 400px; }

#canvas {
  background-color: white;
  overflow: hidden;
  width: 900px;
  max-height: 85vh;
  position: relative; }

#image {
  display: block;
  width: 100%;
  filter: brightness(var(--brightness)) contrast(var(--contrast)) saturate(var(--saturate)) grayscale(var(--grayscale)) sepia(var(--sepia)) hue-rotate(var(--hue-rotate)) invert(var(--invert)) blur(var(--blur)) opacity(var(--opacity));
  transform: scaleX(var(--scaleX)) scaleY(var(--scaleY)) scale(var(--scaleXY)) translateX(var(--translateX)) translateY(var(--translateY)) skewX(var(--skewX)) skewY(var(--skewY)) rotate(var(--rotate)); }

#text-overlay {
  position: absolute;
  top: var(--textY);
  left: var(--textX);
  white-space: pre-wrap;
  color: var(--textColor);
  font-family: var(--textFont);
  font-weight: var(--textFontWeight);
  font-size: var(--textSize);
  text-shadow: var(--textShadowX) var(--textShadowY) var(--textShadowBlur) var(--textShadowColor);
  letter-spacing: var(--letterSpacing); }

.custom-text-container {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .custom-text-container label {
    font-size: 16px;
    margin: 0 5px 5px 0; }
  .custom-text-container textarea {
    width: 200px;
    margin-bottom: 5px; }
  .custom-text-container div {
    display: flex;
    flex-direction: column; }
    .custom-text-container div input {
      width: 100px;
      margin: 0 0 5px 5px;
      height: 31px; }

#controls {
  display: none;
  margin-top: 15px;
  flex-direction: row;
  align-items: center;
  font-size: 14px; }

.controls-inner {
  display: flex;
  flex-direction: column; }

.color-picker-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px; }
  .color-picker-container label {
    width: 180px;
    text-align: right; }
  .color-picker-container input {
    border: none;
    width: 30px;
    height: 30px;
    margin: 0 110px 0 10px; }

.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; }
  .slider-container label {
    width: 120px;
    text-align: right; }
  .slider-container input {
    width: 150px;
    margin: 0 10px;
    height: 20px; }
  .slider-container p {
    width: 100px; }

.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px; }
  .checkbox-container label {
    width: 180px;
    text-align: right; }
  .checkbox-container input {
    border: none;
    width: 30px;
    height: 20px;
    margin: 0 110px 0 10px; }

#font-container {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  max-width: 380px;
  margin-bottom: 10px; }
  #font-container div {
    width: 50%;
    padding: 5px;
    border: 1px solid white; }

.non-selected-font:hover {
  background-color: rgba(255, 255, 255, 0.2); }

.selected-font {
  color: #1b1c2f;
  background-color: #FFFFFF; }

.hidden {
  display: none; }

.hidden-opacity {
  opacity: 0; }

.pointer {
  cursor: pointer; }

@-webkit-keyframes {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg) scaleX(var(--scaleX)) scaleY(var(--scaleY)) scale(var(--scaleXY)) translateX(var(--translateX)) translateY(var(--translateY)) skewX(var(--skewX)) skewY(var(--skewY)); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg) rotate(0deg) scaleX(var(--scaleX)) scaleY(var(--scaleY)) scale(var(--scaleXY)) translateX(var(--translateX)) translateY(var(--translateY)) skewX(var(--skewX)) skewY(var(--skewY)); } }

.spin {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite; }
